:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#section {
    width: 100%;
    height: 100vh;
    position: relative;
}

p {
    margin: 0 !important;
}

.p-completed {
    text-decoration: line-through;
}
.p-uncompleted {
    text-decoration: none;
}
.delete-todo {
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.delete-todo:hover {
    color: #cb3234;
}
.complete-todo:hover {
    cursor: pointer;
}