@import "./variables.css";
@import "./fonts.css";

*, :root,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-color);
}

#section {
  height: 550px;
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: var(--font-desktop-title);
  font-family: var(--font-primary);
  color: var(--text-main-color);
  font-weight: var(--font-bold);
  margin-top: 0 !important;
}

h3 {
  font-family: var(--font-secondary);
  font-weight: var(--font-regular);
  font-size: var(--font-desktop-text);
}

.left-container {
  width: 400px;
  padding: 50px;
  background-color: var(--white);
  background-image: url("./assets/imgs/tasks.svg");
  background-position: bottom right 50px;
  background-repeat: no-repeat;
  background-size: 300px;

  border-radius: 10px;

  box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.4);
}

.right-container {
  width: 500px;
  padding: 50px 25px 0 75px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container h2 {
  text-align: center;
}

.todo-list {
  width: 100%;
  margin-top: 20px;
}

label {
  color: var(--text-main-color);
  font-size: 18px;
  font-weight: 500;
}

p {
  margin: 0 !important;
}

@media (max-width: 1200px) {
    #section {
        height: 500px;
    }

  h2 {
    font-size: var(--font-mobile-title);
  }

  .left-container {
    width: 300px;
    background-size: 250px;
  }

  .right-container {
    width: 400px;
    padding: 50px 25px 0 75px;
    overflow-y: scroll;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
    #main {
        width: 100%;
        height: 100vh;
      
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
      
        background-color: var(--light-color);
    }

    #section {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .right-container {
        width: 100% !important;
        overflow-y: scroll;
        padding: 0px !important;
        margin-top: 60px;
      
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
    }

    .left-container {
        margin-top: 30px;
        width: 100%;
        padding: 30px;
        background-image: none;

        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.4);
    }
}